* {
    margin: 0;
}

nav {
    background-color: lightblue;
    font-size: 20px;
    padding-top: 1rem;
    padding-left: .5rem;
    height: 4vh;
}

#index_menu {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.index_box {
    flex-shrink: 0;
    padding: 1rem;
    margin: .25rem;
    background-color: aliceblue;
    border-radius: 10px;
}

.index_name {
    text-align: center;
}

#view_menu {
    margin-left: .5rem;
}

#view_name {
    margin-top: .25rem;
    text-align: center;
}

#view_content {
    overflow-y: auto;
    height: 65vh;
}

#view_content_titles {
    display: flex;
    flex-direction: row;
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.view_content_data {
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-right: none;
}

.view_market_cap {
    flex-grow: 1;
    margin-left: .5rem;
}

.view_col1 {
    width: 3.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.view_col_stockprice {
    width: 3.5em;
}

.view_col2 {
    width: 3.4em;
    margin-left: .25em;
    margin-right: .25em;
}

.view_col3 {
    width: 100%;
}

@media (min-width: 600px) {
    .main {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    #index_menu {
        margin-left: 25.25vw;
    }
}