{% extends 'base.html' %}

{% block header %}<link rel="stylesheet" href="{{ url_for('static', filename='stock_style.css') }}">{% endblock %}

{% block content %}
    <div class="main">
        <div id="index_menu">
            <div class="index_box">
                <div class="index_name">
                    S&P500
                </div>
                <div class="index_move">
                    5555 | +1.78%
                </div>
            </div>
            <div class="index_box">
                <div class="index_name">
                    Nasdaq100
                </div>
                <div class="index_move">
                    15788 | +2.19%
                </div>
            </div>
            <div class="index_box">
                <div class="index_name">
                    Dow
                </div>
                <div class="index_move">
                    35000 | +2.19%
                </div>
            </div>
            <div class="index_box">
                <div class="index_name">
                    Russell
                </div>
                <div class="index_move">
                    1788 | -0.93%
                </div>
            </div>
        </div>

        <div id="view_menu">
            <a href="{{ url_for('index.index') }}">Overview</a>
        </div>

        <div id="view_name">
            <h3>S&P500 - {{ selected_sector }}</h3>
        </div>

        <div id="view_content">
            <div id="view_content_titles">
                <div class="view_col1">
                    <h4>Stock</h4>
                </div>
                <div class="view_col_stockprice">
                    <h4>Price</h4>
                </div>
                <div class="view_col2">
                    <h4>Move</h4>
                </div>
                <div class="view_market_cap">
                    <h4>Market Cap</h4>
                </div>
            </div>
            
            <!-- each view_content_data will be created in loops -->
            {% for stock in stocks %}
                <div class="view_content_data">
                    <div class="view_col1">
                        {{ stock['symbol'] }}
                    </div>
                    <div class="view_col_stockprice">
                        {{ stock['current_price'] }}
                    </div>
                    {% if stock['move'] >= 0 %}
                        <div class="view_col2" style="background-color: lightgreen;">
                            {{ stock['move']|round(2) }}%
                        </div>
                    {% else %}
                        <div class="view_col2" style="background-color: rgb(229,163,163);">
                            {{ stock['move']|round(2) }}%
                        </div>
                    {% endif %}
                    <div class="view_market_cap">
                        <div class="view_market_cap_bar" style="background-color: rgb(163, 163, 241); width: {{ (stock['market_cap']/stocks[0]['market_cap'])*100 }}%;">
                            {{ stock['market_cap']|round(0)|int }}B
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}